<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>User</h1>
<p th:text="'id: ' + ${newuser.id}"/>
<p th:text="'login: ' + ${newuser.login}"/>
<p th:text="'password: ' + ${newuser.password}"/>
<a href="/newtask">Submit new task</a>
<a th:href="@{/changepassword}">
    <p><input type="button" value="Changepassword"/></p>
</a>
</body>
</html>