<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Result</h1>
<p>
<a th:href="@{/newtask}">
    <input type="button" value="New task"/>
</a>
<a th:href="@{/tasklist}">
    <input type="button" value="Tasklist"/>
</a>
</p>
<p th:text="'Id: ' + ${newtask.id}"/>
<p th:text="'Finish date: ' + ${newtask.finishDate}"/>
<p th:text="'Content: ' + ${newtask.content}"/>
<p th:text="'Status: ' + ${newtask.status}"/>
</body>
</html>